  <center><a href="/session/new" style="color:#DEDEDE">Have an account? Sign In.</a></center>


<center><h1 style="color: #DEDEDE;">Hello Fellow</h1></center><br>
<%= render "form", :user => @user %>

<% action = (@user.persisted? ? user_url(user) : users_url) %>
<% method = (@user.persisted? ? "put" : "post") %>
<% message = (@user.persisted? ? "Update user" : "Create user") %>


<center style="color:#DEDEDE">Or try a...</center>
<form action="<%= action %>" method="post" >
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input type="hidden" name="user[username]" value="NewUser<%= rand(10000) %>">
  <input type="hidden" name="user[password]" value="password">
  <center><button type="submit" class="btn btn-lg btn-primary">Demo Account</button></center>
</form>
