
<% if (card.get('list_id') == list_id) { %>
  <a href="#myModal<%=card.id%>" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

<button type="button" class="btn btn-primary" data-toggle="modal"
   data-target="#myModal<%=card.id%>"><%= card.get('title') %></button>
<% }; %>

<div class="modal fade" id="myModal<%=card.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- title -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <div id="edit-card-title-form">
            <a href="#" id="open-card-title-edit-form"><%= card.get('title')%>
            </a>
          </div>
        </h4>
      </div>
      <!-- title END-->
      <!-- description link -->
      <div id="insert-description-form">
        <a href="#" id="open-description-form">
          <%= card.get('description') %><br><%= "Edit the card description." %>
        </a>
      </div>
        <!-- insert comments -->
      <div class="modal-body" id="insert-comment">
      </div>
      <!-- insert comment form -->
      <form id="add-comment-form">
        <textarea row="4" cols="50" name="comment[body]"></textarea><br>
        <input type="hidden" value="<%= card.id %>" name="comment[card_id]">
        <input id="create-comment" type="submit" value="Comment">
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- <form>
<textarea row="4" cols="50" style="width: 550px; height: 200px;" name="card[description]"></textarea>
<input type="submit" Value="Save">
</form> -->

        <!-- <a href="#" id="insert-description" value="< card.get('description') %>">Edit description...</a> -->