<a id="open-modal" href="#" class="list-group-item" data-toggle="modal" data-card-id="<%= card.id %>" data-list-id="<%= card.get('list_id') %>" data-order="<%= card.get('order')%>"
 style="display: block; width: 100% position: relative;" data-target="#CardModal<%=card.id%>">

 <% if (card.get('labels').last()) { %>
 <div class="label-position">
   <i class="glyphicon glyphicon-tag" style="color:<%= card.get('labels').last().get('color') %>" ></i>
 </div>
 <% } %>


  <%= card.escape('title') %></a>
