<% if (card.get('labels').last()) { %>
<div class="left-inner-addon">
  <i class="glyphicon glyphicon-tag" style="color:<%= card.get('labels').last().get('color') %>" ></i>
</div>
<% } %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-card-id="<%= card.id %>" data-list-id="<%= card.get('list_id') %>"
 style="display: block; width: 100%;" data-target="#CardModal<%=card.id%>">
  <%= card.escape('title') %></button>

