
<% if (card.get('list_id') == list_id) { %>
  <li><button class="btn btn-primary btn-lg" data-toggle="modal"
   data-target="#myModal<%=card.id%>"><%= card.get('title') %></button>
<% }; %>

<div class="modal fade" id="myModal<%=card.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= card.get('title')%></h4>
      </div>
      <div class="modal-body" id="insert-comment">
        <a href="#" id="insert-description" value="<%= card.get('description') %>">Edit description...</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- <form>
<textarea row="4" cols="50" style="width: 550px; height: 200px;" name="card[description]"></textarea>
<input type="submit" Value="Save">
</form> -->