<!DOCTYPE html>
<html>
<head>
  <title>HelloFellow</title>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootswatch/3.0.3/cerulean/bootstrap.min.css", :media => "all" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

</head>
<body class="the-color">

<% if !current_user.nil? %>
  <div id="header"></div>
<% else %>
  <center><a href="/users/new" style="color:#DEDEDE">Don't have an account? Sign Up.</a></center>
<% end %>

<div id="container">
<%= yield %>
</div>

</body>
</html>
