<!DOCTYPE html>
<html>
<head>
  <title>HelloFellow</title>
  <!-- <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" %> -->
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootswatch/3.0.3/cerulean/bootstrap.min.css", :media => "all" %>

  <%= csrf_meta_tags %>

  <script type="text/javascript" charset="utf-8">

  </script>
</head>
<body>

<% if !current_user.nil? %>
  <div id="header"></div>
<% else %>
<%= link_to "GOAT APP SIGN UP", new_user_url %>
<% end %>

<div id="container">
<%= yield %>
</div>


</body>
</html>
